.container{
    text-align: center;
}

.btn{
    margin-right: 10px;
}

.searchRow{
    margin-top: 50px;
    margin-bottom: 50px;
}

.search{
    margin-left: auto;
    margin-right: auto;
}

.searchRow button{
    margin-left: 10px;
}

.tableData button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tableheader th{
    background-color: #295dcf;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
