<div class="container">
    <div class="row searchRow">
        <div class="col-4 d-flex search">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="bi bi-plus-circle"></i></button>
            <input type="text" class="form-control" id="txtFirstName" placeholder="Search">
            <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </div>

    <div class="row tableRow">
        <table class="align-content-center">
            <thead>
                <tr class="tableheader">
                    <th scope="col">#Id</th>
                    <th scope="col">Customer Id</th>
                    <th scope="col">Item Id</th>
                    <th scope="col">Rental Date</th>
                    <th scope="col">Expected Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Fine</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rental of rentalList" class=" tableData border-bottom">
                    <td scope="row">{{rental.id}}</td>
                    <td>{{rental.customerId}}</td>
                    <td>{{rental.itemId}}</td>
                    <td>{{rental.rentalDate}}</td>
                    <td>{{rental.expectedDate}}</td>
                    <td>{{rental.returnDate}}</td>
                    <td>{{rental.dueDate}}</td>
                    <td>{{rental.fine}}</td>
                    <td>{{rental.totalCost}}</td>
                    <td class="actions">
                        <button *ngIf="rental.returnDate == null" type="button" class="btn btn-warning">
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                        <button *ngIf="rental.returnDate != null" type="button" class="btn btn-success">
                            <i class="bi bi-printer"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#updateModel">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="deleteRental(rental.id)">
                            <i class="bi bi-trash3"></i>
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------- Add Rantel Form ------------------------------------------>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Rental</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Select Item</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="rental.itemId">
                        <option *ngFor="let item of itemList"  value="{{item.id}}">{{item.id}} - {{item.name}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Select Customer</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="rental.customerId">
                        <option *ngFor="let customer of customerList"  value="{{customer.id}}">{{customer.id}} - {{customer.name}}</option>
                    </select>
                </div>
               
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Expected Date</label>
                    <input type="date" class="form-control" id="recipient-name" [(ngModel)]="rental.expectedDate">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addRental()">Add Rental</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>