<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="logo.png" height="40px">
        <span class="fs-4">Millennium Hardware</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><button [routerLink]="['/rental']"  
          (click)="clickButton('/rental')" 
          [ngClass]="{'active' : selectPage=='/rental' || selectPage== ''}" class="nav-link" aria-current="page">Rental</button>
        </li>

        <li class="nav-item"><button [routerLink]="['/customer']"  
          (click)="clickButton('/customer')"  
          [ngClass]="{'active' : selectPage=='/customer'}" class="nav-link">Customers</button>
        </li>

        <li class="nav-item"><button [routerLink]="['/item']"  
          (click)="clickButton('/item')" 
          [ngClass]="{'active' : selectPage=='/item'}"  class="nav-link">Items</button>
        </li>
        
        
      </ul>
    </header>
  </div>