<div class="container">
    <div class="row searchRow">
        <div class="col-4 d-flex search">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                    class="bi bi-plus-circle"></i></button>
            <input type="text" class="form-control" id="txtFirstName" placeholder="Search">
            <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
    </div>

    <div class="row tableRow">
        <table class="table">
            <thead>
                <tr class="tableRow">
                    <th scope="col">#Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">City</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customerList">
                    <th scope="row">{{customer.id}}</th>
                    <td>{{customer.name}}</td>
                    <td>{{customer.contact}}</td>
                    <td>{{customer.city}}</td>
                    <td>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateModel" (click)="editCustomer(customer.id)"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!---------------------------- Add Customer Form ------------------------------------------>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="customer.name">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Contact</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="customer.contact">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">City</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="customer.city">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addCustomer()">Add Customer</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!---------------------------- Update Customer Form ------------------------------------------>

<div class="modal fade" id="updateModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="customer.name">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Contact</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="customer.contact">
                </div>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">City</label>
                    <input type="text" class="form-control" id="recipient-name" [(ngModel)]="customer.city">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="updateCustomer()">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

